:root{
    --background-color:#181A18;
    --type-color: #ebebeb;
    --primary-color:#278BFF;
    --secondary-color: #F900FE;
    --accent-color: #AE46FF;
    --primary-glow: 0px 0px 14px 2px #278BFF;
    --secondary-glow: 0px 0px 14px 2px #F900FE;
    --accent-glow: 0px 0px 14px 2px #AE46FF;
    --primary-border: 3px solid #4598fd;
    --secondary-border: 3px solid #fa54fd;
    --accent-border: 3px solid #B251FF;
    --border-radius: 10px;
}
.container{
    max-width:1500px;
}
body{
    font-family: 'Rajdhani', sans-serif;
    background-color: var(--background-color);
    color: var(--type-color);
}

h1{
    font-size: 56px;
    text-align: center;
    font-weight: 600;
    padding: 30px 0px 8px 0px;
    margin-bottom: 10px;
}
h2{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
h3{
    font-size: 28px;
    font-weight: 500;
}
h4{
    font-size: 22px;
    font-weight: 500px 
}
p{
    font-size: 20px;
    font-weight: 400;
}

.masthead-intro{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.hud-collapse-toggle{
    position: fixed;
    z-index: 1;
    bottom: 120px;
    left: 15px;
    font-size: 66px;
    color: var(--secondary-color);
    background: transparent;
    border: none;
    width: 80px;
    height: 70px;
    transition: 0.3s;
}

.hud-collapse-toggle:hover{
    filter: drop-shadow(0px 0px 10px #F900FE);
    animation: ease-in-out;
}

.hud-home{
    grid-area: header;
    justify-self: center;
}

.hud-home-button-active{
    color: var(--primary-color);
    filter: drop-shadow(0px 0px 14px #278BFF);
    font-size: 80px;
    margin-left: 36px;
}

.hud-navigation{
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 2%;
}

.hud-project{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 90% 10%;
    grid-template-areas: "header header"
    "content sidebar";
}

.hud-button{
    grid-area: header;
    border: var(--accent-border);
    border-radius: var(--border-radius);
    width: 200px;
    height: 64px;
    font-size: 26px;
    font-weight: 600px;
    background-color: rgba(255, 255, 255, 0.096);
    color: var(--type-color);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}

.hud-button:hover{
    box-shadow: var(--accent-glow);
    animation: ease-in-out;
}

.difficulty-level-indicator{
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.square-point-filled{
    height: 18px;
    width: 18px;
    background-color: var(--secondary-color);
    border-radius: 3px;
    margin: 0px 8px 0px 6px;
}

.square-point-empty{
    height: 18px;
    width: 18px;
    background-color: transparent;
    box-shadow: 0px 0px 5px 1px #FC74FF;
    border-radius: 3px;
    margin: 0px 6px 0px 6px;
}

.language-type-icon{
    grid-area: sidebar;
    color: var(--primary-color);
    font-size: 24px;
}

.hud-contact-links{
    grid-area: sidebar;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20px;
    align-items:center;
}

.email-linkedin-icons{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.social-link{
    color: var(--secondary-color);
    font-size: 50px;
    background: none;
    transition: 0.3s;
}

.social-link:hover {
    filter: drop-shadow(0px 0px 10px #F900FE);
    animation: ease-in-out;
}

.social-link-github:hover {
    filter: drop-shadow(0px 0px 10px #F900FE);
    animation: ease-in-out;
}

.social-link-github{
    grid-area: main;
    color: var(--secondary-color);
    font-size: 90px;
    background: none;
    transition: 0.3s;
}

footer{
    font-family: 'Rajdhani', sans-serif;
    height:220px;
    position:fixed;
    bottom: -14px;
    left:0px;
    width:100%;
    background-image: url("src/HUDbar.png");
    background-position: center bottom;
    background-size: cover;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100%;
    grid-template-areas: "header main sidebar";
    justify-content: center;
    align-items: center;
}
.industry-button-toggle{
    display:flex;
    flex-direction: column;
    position:fixed;
    top: 50px;
    left: 0px;
}

.industry-button{
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
   border-radius: 0px 6px 6px 0px;
    padding: 4px;
    width: 203px;
    height: 70px;
    margin: 16px 0px 0px -3px;
    font-family: 'Rajdhani', sans-serif;
    transition: 0.3s; 
}

.industry-button-active{
    color: var(--background-color);
    box-shadow: var(--primary-glow);
    background-color: var(--primary-color);
    border: var(--primary-border);
    
}
.industry-button-inactive{
    color: var(--primary-color);
    background-color: var(--background-color);
    border: solid 3px;
}

.industry-button-inactive:hover{
    box-shadow: var(--primary-glow);
    animation: ease-in-out;
}

.button-active{
    color: var(--background-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    padding: 12px 16px 12px 16px;
    width: 140px;
    height: 50px;
}

.home-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 52% 18%;
    grid-template-rows: 100%;
    grid-template-areas: "content main sidebar";
}

.skill-list{
    margin-left: 20%;
    grid-area: content;
    display:grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "content content"
    "header main";
}

.coding-knowledge{
    grid-area: content;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 26px;
    padding-top: 15px;
    height:340px;
    margin: 0;
}

.coding-language{
    border: solid 2px;
    padding: 4px 8px 2px 8px;
    border-radius: 3px;
    border-color: var(--secondary-color);
    max-width: fit-content;
}

.soft-skills-title{
    grid-area: header;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-left: 32%;
    padding-right: 10px;
    letter-spacing: 2px;
}

.coding-softskills{
    grid-area: main;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 22px;
    padding-top: 50px;
    height:280px;
    margin: 0;
    padding-inline-start: 0px;
    
}

.soft-skill{
    border: solid 2px;
    padding: 4px 8px 2px 8px;
    border-radius: 3px;
    border-color: var(--accent-color);
    max-width: fit-content;
}

.center-content{
    grid-area: main;
    font-size: 24px;
    font-weight: 400px;
}

.appendix-box{
    grid-area: sidebar;
    border: var(--secondary-border);
    border-radius: 10px;
    box-shadow: var(--secondary-glow);
    padding: 26px;
    max-height: 360px;
    margin: 0 auto;
    font-size: 22px;
}
.github-link{
    color: var(--primary-color);
    font-size: 18px;
}
