.hud-home-button{
    color: var(--primary-color);
    font-size: 80px;
    margin-left: 36px;
    transition: 0.3s;
}

.hud-button-active{
    background-color: var(--accent-color);
  box-shadow: var(--accent-glow);  
  color: var(--background-color);
  font-weight: 600;
}

.hud-home-button:hover{
    filter: drop-shadow(0px 0px 14px #278BFF);
    animation: ease-in-out;
}

.ux-project-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 35% 15% 20%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "content header footer sidebar"
    "content main main sidebar";
    min-height: 900px;
}

.right-sidebar{
    grid-area:sidebar;
}

.appendix-box{
    border: var(--secondary-border);
    border-radius: 10px;
    box-shadow: var(--secondary-glow);
    padding: 26px;
    max-height: fit-content;
    margin: 0 auto;
    font-size: 24px;
}

.project-matrix{
    grid-area: content;
    height: fit-content;
}

.matrix-image{
    padding-right: 12px;
}

.project-specs{
    font-size: 22px;
    padding:10px;
    margin-top: 1.6em;
    line-height: 1.8em;
    align-items: flex-start;
}

.project-objectives{
    grid-area: header;
}

.project-logo{
    grid-area: footer;
    max-width: 170px;
    padding-left: 20px;
}

.project-deliverables{
    grid-area: main;
    padding: 20px;
    display:grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 100%;
    grid-template-areas: "main footer content";
    justify-content: space-around;
}

.lowfi{
    grid-area:main;
    display:flex;
    flex-direction: column;
}

.arrow{
    grid-area:footer;
    display:flex;
    flex-direction: column;
    font-size: 60px;
    color: var(--primary-color);
    justify-content: space-around;
}

.hifi{
    grid-area:content;
    display:flex;
    flex-direction: column;
}

.wireframe{
    max-width: 260px;
    margin: 20px;
}

.project-deliverables-pod{
    margin-top:10px;
    grid-area: main;
    padding: 20px;
    display:grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "main footer header sidebar content";
    justify-content: space-around;
    height: fit-content;
}

.lowfi-pod{
    grid-area:main;
    display:flex;
    flex-direction: column;
}

.arrow-pod{
    grid-area:footer;
    display:flex;
    flex-direction: column;
    font-size: 40px;
    color: var(--primary-color);
    justify-content: space-around;
}

.arrow-pod-2{
    grid-area:sidebar;
}

.midfi-pod{
    grid-area: header;
    display:flex;
    flex-direction: column;
}

.hifi-pod{
    grid-area:content;
    display:flex;
    flex-direction: column;
    margin-top: 10px;
}

.wireframe-pod{
    max-width: 260px;
    margin: 35px 20px 35px 20px;
}

.pod-hi-wireframe{
    width: 222px;
    margin-bottom: 48px;
}

.objectives-title{
    text-decoration: underline;
    font-size: 30px;
}

.objectives-list{
    list-style:none;
    font-size: 26px;
}
.project-deliverables-lift{
    grid-area: main;
    width: 90%;
}

.lift-lofi-wireframe{
    margin: 10px;
}

.lift-hifi-wireframe{
    margin:10px;
}


@media (max-width:1440px){
    .ux-project-container{
    grid-template-columns: 30% 33% 14% 23%;
    height:fit-content;
}

.project-logo{
    padding-right: 20px;
}

.pod-hi-wireframe{
    width: 125px;
    margin-bottom: 44px;
}
}


@media (max-width: 1024px){
    .hud-home-button{
    font-size: 60px;
    margin-left: 36px;
}

.ux-project-container{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 32% 30% 13% 25%;
    grid-template-rows: 15% 85%;
    grid-template-areas: "content header footer sidebar"
    "content main main sidebar";
    min-height: 900px;
}

.appendix-box{
    padding: 14px;
    font-size: 20px;
}

.matrix-image{
    padding-right: 6px;
}

.project-specs{
    font-size: 20px;
    padding:10px;
    margin-top: 1.5em;
}

.objectives-title{
    font-size: 26px;
}

.objectives-list{
    font-size: 22px;
}

.project-logo{
    max-width: 120px;
    padding-right: 20px;
    padding-left: 2px;
}

.project-deliverables{
    padding: 0px;
    padding-right: 14px;
    grid-template-columns: 45% 10% 45%;
    height: fit-content;
}

.arrow{
    font-size: 46px;
}

.wireframe{
    max-width: 260px;
    margin: 10px;
}

.project-deliverables-pod{
    margin-top:30px;
    padding: 10px;
    height: 1010px;
}

.arrow-pod{
    font-size: 28px; 
}

.arrow-pod-2{
    grid-area:sidebar;
}

.wireframe-pod{
    max-width: 260px;
    margin: 15px 5px 15px 5px;
}

.hifi-pod{
    margin-top: 3px;
}

.pod-hi-wireframe{
    width: 104px;
    margin-bottom: 16px;
}
}



@media (max-width: 768px){
    .hud-home-button{
    font-size: 50px;
    margin-left: 20px;
}

.ux-project-container{
    width: 95%;
    grid-template-columns: 40% 47% 13%;
    grid-template-rows: 25% 28% 47%;
    grid-template-areas: "content header footer"
    "content main main"
    "sidebar main main";
    height: 1000px;
}
.appendix-box{
    padding: 14px;
    font-size: 20px;
}

.matrix-image{
    padding-right: 6px;
}

.project-specs{
    font-size: 20px;
    padding:10px;
    margin-top: 1.5em;
}

.objectives-title{
    font-size: 26px;
}

.objectives-list{
    font-size: 22px;
}

.project-logo{
    max-width: 120px;
    padding: 0px;
}

.project-deliverables{
    padding: 0px 0px 0px 10px;
    grid-template-columns: 45% 10% 45%;
}

.arrow{
    font-size: 46px;
}

.wireframe{
    max-width: 260px;
    margin: 10px;
}

.project-deliverables-pod{
    margin-top:0px;
    padding: 0px 0px 0px 10px;
    height: 1070px;
}

.arrow-pod{
    font-size: 28px; 
}

.arrow-pod-2{
    grid-area:sidebar;
}

.wireframe-pod{
    max-width: 260px;
    margin: 15px 5px 15px 5px;
}

.pod-hi-wireframe{
    width: 108px;
    margin-bottom: 26px;
}

.project-deliverables-lift{
    margin: 0 auto;
}
}


@media (max-width: 425px){
    .hud-home-button{
    font-size: 38px;
    margin-left: 28px;
    margin-top: 14px;
}

.ux-project-container{
    width: 95%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 5% 13% 18% 69%;
    grid-template-areas: "content footer"
    "content header"
    "sidebar sidebar"
    "main main";
    height: fit-content;
}

.ux-project-container-pod{
    width: 95%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 5% 19% 23% 55%;
    grid-template-areas: "content footer"
    "content header"
    "sidebar sidebar"
    "main main";
    height: fit-content;
}

.ux-project-container-lift{
    width: 95%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 6% 15% 26% 53%;
    grid-template-areas: "content footer"
    "content header"
    "sidebar sidebar"
    "main main";
    height: fit-content;
}

.appendix-box{
    padding: 14px;
    font-size: 18px;
    height: fit-content;
}

.matrix-image{
    padding-right: 6px;
}

.project-specs{
    font-size: 18px;
    padding:6px;
    margin-top: 1.5em;
}

.project-objectives{
    height: fit-content;
}

.objectives-title{
    font-size: 22px;
}

.objectives-list{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.project-logo{
    max-width: 90px;
    padding-left: 10px;
}

.project-deliverables{
    padding: 0px;
    grid-template-columns: 45% 10% 45%;
    height: fit-content;
}

.arrow{
    font-size: 46px;
}

.wireframe{
    max-width: 260px;
    margin: 10px;
}

.project-deliverables-pod{
    margin-top:30px;
    padding: 10px;
    height: fit-content;
}

.arrow-pod{
    font-size: 28px; 
}

.arrow-pod-2{
    grid-area:sidebar;
}

.wireframe-pod{
    max-width: 260px;
    margin: 15px 5px 15px 5px;
}

.pod-hi-wireframe{
    width: 100px;
    margin-bottom: 18px;
}

.project-deliverables-lift{
    margin-top: 0px;
}
}

@media (max-width: 320px){
    .hud-home-button{
    font-size: 32px;
    margin-left: 28px;
    margin-top: 0px;
}

.ux-project-container{
    width: 95%;
    grid-template-columns: 100%;
    grid-template-rows: 20% 8% 23% 49%;
    grid-template-areas: "content"
    "header"
    "sidebar"
    "main";
    height: fit-content;
}

.ux-project-container-pod{
    grid-template-rows: 25% 9% 30% 36%;
    grid-template-areas: "content"
    "header"
    "sidebar"
    "main";
    height: fit-content;
}

.ux-project-container-lift{
    grid-template-rows: 19% 7% 33% 42%;
    grid-template-areas: "content"
    "header"
    "sidebar"
    "main";
    height: fit-content;
}

.appendix-box{
    padding: 12px;
    font-size: 18px;
    height: fit-content;
}

.matrix-image{
    padding-right: 0px;
}

.project-specs{
    font-size: 16px;
    padding:6px;
    margin-top: 1.5em;
}

.project-objectives{
    height: fit-content;
    margin-left: 10px;
}

.objectives-title{
    font-size: 22px;
}

.objectives-list{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.project-logo{
    display: none;
}

.project-deliverables{
    padding: 0px;
    grid-template-columns: 45% 10% 45%;
    height: fit-content;
}

.arrow{
    font-size: 30px;
}

.wireframe{
    max-width: 260px;
    margin: 6px;
}

.project-deliverables-pod{
    margin-top:10px;
    padding: 10px;
    height: fit-content;
}

.arrow-pod{
    font-size: 20px; 
}

.arrow-pod-2{
    grid-area:sidebar;
}

.wireframe-pod{
    max-width: 260px;
    margin: 5px 2px 5px 2px;
}

.pod-hi-wireframe{
    width: 75px;
    margin-bottom: 6px;
}

.project-deliverables-lift{
    margin-top: 0px;
}
}
