:root{
    --background-color:#fde9fc;
    --type-color: #1d1b1b;
    --primary-color:#f741de;
    --secondary-color: #14aa00;
    --border-radius: 10px;
}

body{
    margin:30px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    background-color: var(--background-color);
    color: var(--type-color);
}

.container{
  max-width: 1500px
}

col{
  padding:5px;
}

p{
  text-indent:50px;  
}
br{
    padding:50px
}
h1{
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 600;
  font-style: normal;
  padding-left: 100px;
  margin-top: 3%;
  max-width: 1500px;
}

hr{
  height: 5px;
  color: var(--primary-color);
  border-width: 5px;
  padding-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.article-title{
  font-size: 28px;
  text-decoration: underline;
  padding: 10px 5px 20px 5px;
}
.subhead{
  font-size: 24px;
  padding: 20px 20px 20px 100px;
}

.home-container{
  max-width: 1300px;
  display: flex;
}

.article{
  max-width: 430px;
  height: 530px;
  background-color:#f741df2a;
  margin: 14px;
  border-radius: var(--border-radius);
  padding: 15px;
}

.article-preview-img{
  height: 230px;
  width: 400px;
  border-radius: var(--border-radius);
}

.article-logline{
  padding-left: 10px;
  font-size: 24px;
}

a{
  color: var(--secondary-color);
}
.read{
  text-align: right;
  padding: 15px;
  font-size: 24px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  
}

.coming{
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.soon{
  height: 330px;
}

.byline{
  font-size: 26px;
  padding: 15px;
}

.article-body{
  max-width: 1500px;
  font-size: 24px;
  line-height: 40px;
}

.prev-art{
  text-align: left;
  font-size: 28px;
}

.next-art{
  text-align: right;
  font-size: 28px;
}

.cosclass-title{
  font-size: 28px;
  font-weight: 600;
  text-decoration: underline;
}

.cosclass{
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.stat-title{
  text-decoration: underline;
}

.inventory{
  background-color:#f741df2a;
  padding: 5px 10px 5px 10px;
  border-radius: var(--border-radius);
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f741df2c; 
 }

 .articlebody-img{
  width: 400px;
  height:auto;
  float:inline-end;
  border-radius: var(--border-radius);
  margin-left: 20px;
 }

 .articlebody-img2{
  float: inline-start;
  width: 390px;
  height:auto;
  border-radius: var(--border-radius);
  margin-right: 20px;
 }

 .articlebody-imgo{
  float: inline-start;
  width: 600px;
  height:auto;
  border-radius: var(--border-radius);
  margin-right: 20px;
 }

 .articlebody-imgo2{
  float: inline-end;
  width: 300px;
  height:auto;
  border-radius: var(--border-radius);
  margin-left: 20px;
 }