body{
  background-color: white;
}

h1 {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}

.container{
  max-width: 800px;
  display:grid;
  grid-template-columns: 65% 35%;
    grid-template-rows: 10% 90% ;
    grid-gap: 0px;
    grid-template-areas: "header sidebar"
    "main content";
}

.city-title{
grid-area: header;
font-size: 40px;
}
.search{
    grid-area: sidebar;
}
.card {
  padding: 0px;
  border:solid !important;
  border-color: rgb(11,84,13) !important;
}
.left-card{
border-width: 6px 3px 6px 6px !important;
grid-area: main;
height:510px;
}

.inner-card-grid-left{
    padding: 15px;
display:grid;
grid-template-columns: 20% 60% 20%;
grid-template-rows: 20% 35% 45%;
grid-template-areas: "header sidebar sidebar"
"content content content"
"main main main";
height:90%;
}

.emoji {
    display:flex;
  place-content: center;
  padding-bottom: 0px;
  font-size: 80px;
  grid-area:content;
}
.main-content{
    grid-area: main;
    justify-self: center;
}
.main-card {
  text-align: center;
  padding: 5px;
}
.temperature {
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  margin:0;
  padding: 15px 0px 15px 0px;
}
.date {
  text-align: right;
  font-size: 30px;
  padding-top: 4px;
  grid-area: sidebar;
  margin:0;
}
.card-title {
  font-weight: bold;
  font-size: 34px;
  grid-area: header;
  margin:0;
}
.main-weather{
    font-size: 26px;
    margin:0;
    padding: 5px;
}
.secondary-weather{
  text-transform:capitalize;
  font-size: 24px;
  font-weight: 500;
  margin:0;
  padding: 10px;
}
.high-low{
font-size: 28px;
font-weight:500;
padding:0px;
color:rgb(107, 107, 107);
text-align: center;
margin:0;
padding: 10px;
}


.right-card{
border-width: 6px 6px 6px 3px !important;
grid-area: content;
height:510px;
}

.inner-card-grid-right{
    padding: 15px;
display:grid;
grid-template-columns: 20% 60% 20%;
grid-template-rows: 20% 30% 50%;
grid-template-areas: "header header sidebar"
"content content content"
"main main main";
height:90%;
}

.emoji-b {
    display:flex;
  place-content: center;
  padding-bottom: 0px;
  font-size: 60px;
  grid-area:content;
}
.main-content-b{
    grid-area: main;
    justify-self: center;
}
.temperature-b {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin:0;
  padding: 15px 0px 15px 0px;
}
.date-b {
  text-align: right;
  font-size: 24px;
  padding-top: 4px;
  grid-area: sidebar;
  margin:0;
}
.card-title-b {
  font-weight: bold;
  font-size: 30px;
  grid-area: header;
  margin:0;
}
.main-weather-b{
    font-size: 22px;
    margin:0;
    padding: 5px;
}
.secondary-weather-b{
  text-transform:capitalize;
  font-size: 20px;
  font-weight: 500;
  margin:0;
  padding: 10px;
}
.high-low-b{
font-size: 24px;
font-weight:500;
padding:0px;
color:rgb(107, 107, 107);
text-align: center;
margin:0;
padding: 10px;
}
